<div class="panel panel-default" ng-controller="CommentCreateController">
    <div class="panel-heading">Add Comment</div>
    <div class="panel-body">
        <form name="taskForm" novalidate ng-submit="commentSubmit()" class="form-horizontal ng-valid ng-dirty" > <!--ng-controller="TaskFormController"-->
            <div class="form-group">
                <label class="col-md-2">Task</label>
                <div class="col-md-10">{{task.title}}</div>
            </div>
            <div class="form-group">
                <label for="description" class="col-md-2">Comment</label>
                <div class="col-md-10">
                    <textarea id="description" name="description" type="text"  ng-model="comment.description" class="form-control">
                    </textarea>
                    <!--ng-class="{'ng-invalid': taskForm.title.$invalid }"-->
                </div>
            </div>


            <button type="submit" class="btn btn-primary" data-loading-text="Saving.."  >Submit</button>
            <!--ng-disabled="form.$invalid"-->
        </form>
    </div>
</div>